In [ ]:
introduction to python programming :

In [ ]:
understanding the consept of variables in python :

In [ ]:
x = 2
y = 3

In [3]:
z = x+y

print(z)

5

In [ ]:
Rules for declaring the variables :

In [ ]:
Rule no 1 : No namespaces while declaring the variable

In [4]:
first name = 'Ayesha'

print(first nname)

SyntaxError: invalid syntax (1270515477.py, line 1)

In [5]:
firstname = 'Ayesha'

print(firstname)

Ayesha

In [6]:
first_name = 'Ayesha'

print(first_name)

Ayesha

In [ ]:
Rule no 2 : A variable name should not start with a number

In [8]:
1name = 'akhil'

print(1name)

SyntaxError: invalid decimal literal (424914981.py, line 1)

In [9]:
name1 = 'akhil'

print(name1)

akhil

In [ ]:
Rule no 3 : A variable name should not contain any special characters
    
    @ $ % & *

In [10]:
name@ = 'naveena'

print(name@)

SyntaxError: invalid syntax (2787978998.py, line 1)

In [ ]:
Introduction to datatypes in python :

In [ ]:
1. String -----> str

2. Numbers ====> integers (int) , float(decimals) -----> float

3. lists -----> list 

4. tuples -----> tuple

5. dictionaries ----- dict

In [ ]:
classification of datatypes :
    
    1. Mutable datatypes =====> which we can edit / alter
    
    2. immutable datatypes =====> which we cannot be able to edit / alter

In [ ]:
Introduction to sting datatype :

difination : A string is a series of characters declared in quotes.
    
classification : It is classfied as an immutable datatype
    
how to declare the string......?

1. st=ingle quote

2. double quote

In [11]:
name = 'ravi'    #single quote

print(name)

ravi

In [12]:
name2 = "david"  #double quotes

print(name2)

david

In [ ]:
understanding the string methods:

In [13]:
type(name)

str

In [14]:
type(name)

str

In [15]:
fullname = "sara sultana"

print(fullname)

sara sultana